
# Log & temp files
*.log
*.tmp*

# OS files
.htaccess
.DS_Store
.DS_Store?
.localized
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
sftp-config.json
sftp.json
.well-known
.bash*
.vi*
.vscode
.idea
.php-ini
.php-version
.devilbox

# Extensions
*.t3x
*.tar.gz
*.tar
*.zip
*.swp
