
# Log & temp files
*.log
*.tmp*

# OS files
.htaccess
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
Icon?
ehthumbs.db
.localized
.Spotlight-V100
._*
.Trashes
sftp-config.json
sftp.json
.well-known
.bash*
.vi*
.vscode
.idea
.php-ini
.php-version
.devilbox

# Extensions
*.t3x
*.tar.gz
*.tar
*.zip
*.swp

# Build & Vendor
build
build-cs/composer.lock
build-cs/vendor/
build-phpunit/composer.lock
build-phpunit/vendor/
node_modules/
vendor/
