
#dtcalc_nutrient_grams {
  width: 50px;
}

.dtcalc-table {
  width: 80%;
}

.dtcalc-table input[type="text"] {
  width: 80px;
}

.simple-ul {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: 1em;
}

.dtcalc-calc-msg {
  background-color: #EFEFEF;
  border: 1px solid #444;
  padding: 0 1rem;
  margin: 0;
}

.dtcalc-results-container {
  background-color: #EFEFEF;
  border: 3px solid #444;
  padding: 0 1rem;
  margin: 2rem;
  width: 60%;
}

.dtcalc-results-container p {
  font-size: 120%;
}

