
#dtcalc_nutrient_grams {
  width: 50px;
}

.dtcalc-table {
  width: 80%;
}

.dtcalc-table input[type="text"] {
  width: 80px;
}

.simple-ul {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: 1em;
}

.dtcalc-results {
  width: 60%;
}

.dtcalc-results p {
  font-size: 120%;
}
